canvas {
  /* width: 80vmin; */
  /* height: 80vmin; */
  background-color: darkgreen;
}

#mode {
  float: right;
}

.selected {
  background-color: darkgreen;
  color: white;
}

.reversi-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reversi-title > p {
  font-size: 20px;
  font-weight: 600;
}

.reversi-title > #counter {
  margin-left: 56px;
  display: flex;
  flex-direction: row;
}

.reversi-title > #counter > div {
  margin-left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#black-counter,
#white-counter {
  margin-left: 8px;
  font-size: 18px;
  font-weight: 600;
}

#curr-player {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: 1px solid black;
  background: black;
  margin-left: 8px;
}
